* {
  border: 0px red solid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
}

section {
  display: flex;
  justify-content: center;
}

#mainContainer {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  width: 600px;
  height: 600px;
  border: 1px black solid;
}

#mainContainer>div {
  width: 37.5px;
  height: 37.5px;
}

.colorBox {
  color: red;
}